@use 'variables' as v;
@use 'mixins' as m;

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: v.$main-font;
    font-size: 62.5%;
    background-color: white;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 2.1rem;
}